{% extends "ecommerce/base.html" %}
{% block content %}

<!--Start Container-->
<div style="background-color: rgba(0,0,0,20%);">
    <div class="container p-3">

        <div class="row">
            <div class="col-sm-6 ">
                <a class="" href="#">
                    <div class="d-flex justify-content-center">
                        <img class="w-75  border-img" src="https://images4.alphacoders.com/115/thumb-1920-1151249.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <h2 class="h4 fw-bold title-bar t-shadow text-start text-uppercase pb-3">pagina recensioni di {{product.name}}</h2>
                <div class="rounded-2 border-product badge-product">
                    <div class="row">
                    <!--Start Number Review-->
                        <div class="col-4 p-1 t-shadow">
                            <div class="text-light text-center">
                                <h3 class="h6 text-light  text-center pt-3">Valutazioni</h3>

                                <div class="row">
                                    <div class="col-6 text-end">
                                        <span class="material-icons">
                                          thumbs_up_down
                                        </span>
                                    </div>
                                    <div class="col-6">
                                        <h3 class="h6 t-shadow text-light text-start fst-italic">{{numberreview}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                    End Number Review-->

                    <!--Start Vote-->
                        <div class="col-4 t-shadow px-5 " >
                            <div class="text-light text-center border border-light circle">
                                <div class="">
                                    <h3 class="h6 text-light text-center pt-2 ">Voto</h3>
                                    <h3 class="h5 fw-bold text-light text-center ">{{product_rate|round_number:1}}</h3>
                                </div>
                            </div>
                        </div>
 <!--                  End Vote-->
                    <!--Start Review number-->
                        <div class="col-4 align-self-center t-shadow">
                            <div class="text-light text-center">
                                <div class="">
                                    <h3 class="h6 text-light text-center pt-3">Recensioni</h3>
                                </div>

                                <div class="row">
                                    <div class="col-6 text-end">
                                        <span class="material-icons">
                                          rate_review
                                        </span>
                                    </div>
                                    <div class="col-6">
                                        <h3 class="h6 text-light text-start fst-italic">{{ numberreview }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                    End Review Number-->
                    </div>

                </div>
                <!-- Button trigger modal -->
                <div class="pt-3">
                    <div class="align-self-center">
                        <div class="pb-3">
                            <a href="/product?id={{product.id}}">
                                <span class="fst-italic text-light">Visita pagina del negozio</span>
                                <span class="material-icons text-light">
                                    storefront
                                </span>
                            </a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-product-orange text-light fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Recensisci Prodotto
                    </button>

                    <!--    Start Form ADD Review    -->
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title h3 fw-bold brand-text-color" id="exampleModalLabel">Aggiungi Recensioni</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <div>
                                        <h3 class="h5">Scrivi Recensione</h3>
                                        <span class="text-secondary fst-italic">La recensione non può essere più lunga di 750 caratteri</span>
                                        <div class="form-group">
                                            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Titolo della Recensione">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Recensione max 750 caratteri" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div>
                                        <h3 class="h5">Valuta il prodotto</h3>
                                        <span class="text-secondary fst-italic">La valutazione va da 0 a 10</span>
                                        <div class="col-sm-3">
                                            <select class="form-select form-select-sm col-sm-2" aria-label=".form-select-sm">
                                                <option value="1" class="h6 fst-italic text-start text-secondary">0 pessimo</option>
                                                <option value="1" class="h6 fst-italic text-start text-secondary">1</option>
                                                <option value="2" class="h6 fst-italic text-start text-secondary">2</option>
                                                <option value="2" class="h6 fst-italic text-start text-secondary">3</option>
                                                <option value="2" class="h6 fst-italic text-start text-secondary">4</option>
                                                <option value="2" class="h6 fst-italic text-start text-secondary">5 mediocre</option>
                                                <option value="2" class="h6 fst-italic text-start text-secondary">6</option>
                                                <option value="2" class="h6 fst-italic text-start text-secondary">7</option>
                                                <option value="2" class="h6 fst-italic text-start text-secondary">8</option>
                                                <option value="2" class="h6 fst-italic text-start text-secondary">9</option>
                                                <option value="2" class="h6 fst-italic text-start text-secondary">10 incredibile</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Aggiungi Recensione </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
    <!--        end modal    -->
            </div>
        </div>
    </div>
</div>
        <!--  Property/Sort Reviews  -->

<!--Start 2nd container-->
<div class="container">
        <div class=" px-3 pt-3">
            <div class="col-10 ">
                <div class="row">
                    <div>
                        <h4 class="fw-bold fst-italic text-start text-light">Recensioni & Valutazioni:</h4>
                    </div>
                    <div class="col-sm-2 align-self-center">
                        <h3 class="h6 fst-italic text-start text-light">Ordina per </h3>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-select form-select-sm col-sm-2" aria-label=".form-select-sm">
                            <option value="1" class="h6 fst-italic text-start text-secondary">Data di Aggiunta</option>
                            <option value="2" class="h6 fst-italic text-start text-secondary">Valutazione</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <div class="btn btn-secondary text-light">
                            <span class="h6 ">Inverti</span>
                            <span class="material-icons">
                                swap_vert
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--   End Property Review  -->

        <div class="row">

        <div class="col-sm-6 p-3">
            <div class="p-2">
                <div class="p-2 " style="background-color: rgba(255,255,255,15%);">
                    <div class="row pb-2">
                        <div class="col-sm-4 align-self-center ">
                            <h3 class="h5 fst-italic brand-text-color fw-bold">La tua recensione</h3>
                        </div>
                        <div class="col-sm-6">
                            <div class="btn btn-secondary text-light">
                                <span class="h6 ">Modify</span>
                                <span class="material-icons">border_color</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-8 align-self-center">
                                    TITLE-REVIEW
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="row">
                                        <div class="col-sm-6 align-self-center">
                                            <div class="text-end">
                                                Voto:
                                            </div>
                                        </div>
                                        <div class="col-sm-6 align-self-center">
                                            <h3 class="h4 text-end t-shadow">
                                                8/10
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>A well-known quote, contained in a blockquote element.</p>
                                <footer class="blockquote-footer"><cite title="Source Title">data recensione 01/01/1970</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for review in reviews %}
        <div class="col-sm-6 p-3">
            <div class="p-2">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8 align-self-center">
                                {{ review.title }}
                            </div>
                            <div class="col-sm-4 ">
                                <div class="row">
                                    <div class="col-sm-6 align-self-center">
                                        <div class="text-end">
                                            Voto:
                                        </div>
                                    </div>
                                    <div class="col-sm-6 align-self-center">
                                        <h3 class="h4 text-end">
                                            {{ review.rate }}/10
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
    <!--                        750 caratteri con un blocco a 250-->
                            <p>{{review.text}}</p>
                            <footer class="blockquote-footer"><cite title="Source Title">data recensione {{ review.date}}</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

<!--    End Whishlist    -->
</div>
<!-- End Container-->

{% endblock %}