{% extends "ecommerce/base.html" %}
{% block content %}
<!--Start Container-->
    <div class="container p-3">

<!--  Property/Sort Keymanager  -->
        <div class="d-flex justify-content-center pb-3">
            <div class="col-8">
                <h2 class="fw-bold fst-italic text-start text-light">Gestione Chiavi:</h2>
                <div class="row">
                    <div class="col-sm-2 align-self-center">
                        <h3 class="h6 fst-italic text-start text-light">Ordina per </h3>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-select form-select-sm col-sm-2" aria-label=".form-select-sm">
                            <option value="1" class="h6 fst-italic text-start text-secondary">Data di Aggiunta</option>
                            <option value="2" class="h6 fst-italic text-start text-secondary">Prezzo</option>
                            <option value="3" class="h6 fst-italic text-start text-secondary">A alla Z</option>
                            <option value="3" class="h6 fst-italic text-start text-secondary">Stato Chiave</option>
                            <option value="3" class="h6 fst-italic text-start text-secondary">Prodotto</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <div class="btn btn-secondary text-light">
                            <span class="h6 ">Inverti</span>
                            <span class="material-icons">
                                swap_vert
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-product-orange text-light fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Aggiungi Chiave
                        </button>

                <!--    Start Form ADD key    -->
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title h3 fw-bold brand-text-color" id="exampleModalLabel">Aggiungi Chiave</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="">
                                            <h3 class="h4">Scegli Prodotto:</h3>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="inputState">Tipo Prodotto</label>
                                                <select id="inputState" class="form-control">
                                                    <option selected>Scegli...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputState">Genere</label>
                                                <select id="" class="form-control">
                                                    <option selected>Scegli...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                            <form class="d-flex pt-3 pb-1">
                                                <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                                                <button class="btn btn-outline-success" type="submit">Search</button>
                                            </form>
                                            <div class="border border-secondary p-3">
                                                prodotto_trovato
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="">
                                            <h3 class="h4">Inserisci Chiave:</h3>
                                        </div>
                                        <div>
                                            <input class="form-control" type="text" placeholder="Inserisci Codice Chiave">
                                        </div>

                                        <hr>

                                        <h3 class="h4">Prezzo Chiave:</h3>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <input class="form-control" type="text" placeholder="Prezzo">
                                            </div>
                                        </div>

                                        <hr>

                                        <h3 class="h4">Gestisci Sconto:</h3>
                                        <div class="row">
                                            <div class="col-12">
                                                <h3 class="h6">Tempo di Sconto:</h3>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">Nessuno</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="option2">
                                                    <label class="form-check-label" for="">Illimitato</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="option2">
                                                    <label class="form-check-label" for="">Countdown</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="option2">
                                                    <label class="form-check-label" for="">Decidi Periodo</label>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">%</span>
                                                    <input type="text" class="form-control" placeholder="inserisci sconto" aria-label="" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                            <div class="col-9">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" >Tempo di Sconto</span>
                                                    <input type="text" class="form-control" placeholder="durata sconto" aria-label="" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Inizio sconto</span>
                                                    <input type="text" class="form-control" placeholder="Giorno" aria-label="" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Fine sconto</span>
                                                    <input type="text" class="form-control" placeholder="Giorno" aria-label="" aria-describedby="basic-addon1">
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Salve e Aggiungi chiave</button>
                                    </div>
                                </div>
                            </div>
                        </div>
            <!--        end modal    -->
            <!--        End Form ADD key    -->

                    </div>
                </div>
            </div>
        </div>
<!--   End Property KeyManager  -->

        <!--   Start List Key     -->
        <!--   Start Key Bar     -->
        <div class="row">
            <div class="col-sm-1 ">
                <div class="position-absolute p-5" >
                    <div class="badge rounded-pill bg-dark border-img ">
                        <h3 class="fw-bold h6">Posizione 1</h3>
                    </div>
                    <div class="row pt-2 ">
                        <div class="btn d-flex justify-content-center">
                            <span class="material-icons">
                                cancel
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center pb-5">
            <div class="bar-color col-8 row rounded-2 border-orange pt-2 pb-2 border-used">
                <div class="col-sm-4 align-self-center">
                    <a class="" href="#">
                    <img class="w-100 border-img" src="https://images4.alphacoders.com/115/thumb-1920-1151249.jpg" alt="">
                    </a>
                </div>

                <div class="align-self-center col-sm-3">
                    <h3 class="h4 fw-bold brand-text-color title-bar t-shadow">Elden Ring</h3>
                    <div class="row border-used">
                        <div class="col-8">
                            <span class="h6 fw-bold border-shadow text-light">Stato Chiave</span>
                        </div>
                        <div class="col-2">
                            <span class="material-icons used">
                            radio_button_checked
                            </span>
                        </div>
                    </div>
                    <a class="" href="#">
                            <div class="btn">
                                <div class="inner-bar rounded-1 col-sm-9">
                                    <span class="fst-italic text-light">
                                        Recensioni: 15
                                    </span>
                                    <span class="fst-italic text-light">
                                        Valutazione: 8.5
                                    </span>
                                </div>
                            </div>
                        </a>
                </div>

                <div class="align-self-center col-sm-3 ">
                    <div class="square-rev">
                        <h3 class="h6 text-light p-1">Periodo di Sconto:</h3>
                        <h3 class="h6 text-light p-1">dd-mm-yy a dd-mm-yy</h3>
                    </div>
                    <div class="square-rev">
                        <h3 class="h6 text-light p-1">Sconto: %%%%%</h3>
                    </div>
                    <div class=" ">
                        <h3 class="btn h6 btn-product-orange text-light p-1">Mostra Chiave</h3>
                    </div>
                </div>

                <div class="align-self-center col-sm-2">
                    <div class="rounded-5">
                        <div class="row justify-content-center">
                            <div class="col-12 badge-product ">
                                <h3 class="h6 text-center text-light">Prezzo</h3>
                            </div>
                            <div class="col-12 badge-product-dark">
                                <h3 class="h6 text-center text-light"><strike>40.60</strike></h3>
                                <h3 class="h5 text-center text-light t-shadow fw-bold">16.78</h3>
                            </div>
                            <div class="col-12 p-2 pt-3">
                                <h3 class="btn h6 btn-product-orange text-light p-1">MODIFICA</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
<!--   End Key Bar   -->

        <!--   Start Key Bar     -->
        <div class="row">
            <div class="col-sm-1">
                <div class="position-absolute p-5" >
                    <div class="badge rounded-pill bg-dark border-img ">
                        <h3 class="fw-bold h6">Posizione 2</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center pb-5">
            <div class="bar-color col-8 row rounded-2 border-orange pt-2 pb-2 border-active">
                <div class="col-sm-4 align-self-center">
                    <a class="" href="#">
                        <img class="w-100 border-img" src="https://images4.alphacoders.com/115/thumb-1920-1151249.jpg" alt="">
                    </a>
                </div>

                <div class="align-self-center col-sm-3">
                    <h3 class="h4 fw-bold brand-text-color title-bar t-shadow">Elden Ring</h3>
                    <div class="row border-active">
                        <div class="col-8">
                            <span class="h6 fw-bold border-shadow text-light">Stato Chiave</span>
                        </div>
                        <div class="col-2">
                            <span class="material-icons active">
                            radio_button_checked
                            </span>
                        </div>
                    </div>
                    <a class="" href="#">
                        <div class="btn">
                            <div class="inner-bar rounded-1 col-sm-9">
                                    <span class="fst-italic text-light">
                                        Recensioni: 15
                                    </span>
                                <span class="fst-italic text-light">
                                        Valutazione: 8.5
                                    </span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="align-self-center col-sm-3 ">
                    <div class="square-rev">
                        <h3 class="h6 text-light p-1">Periodo di Sconto:</h3>
                        <h3 class="h6 text-light p-1">dd-mm-yy a dd-mm-yy</h3>
                    </div>
                    <div class="square-rev">
                        <h3 class="h6 text-light p-1">Sconto: %%%%%</h3>
                    </div>
                    <div class=" ">
                        <h3 class="btn h6 btn-product-orange text-light p-1">Mostra Chiave</h3>
                    </div>
                </div>

                <div class="align-self-center col-sm-2">
                    <div class="rounded-5">
                        <div class="row justify-content-center">
                            <div class="col-12 badge-product ">
                                <h3 class="h6 text-center text-light">Prezzo</h3>
                            </div>
                            <div class="col-12 badge-product-dark">
                                <h3 class="h6 text-center text-light"><strike>40.60</strike></h3>
                                <h3 class="h5 text-center text-light t-shadow fw-bold">16.78</h3>
                            </div>
                            <div class="col-12 p-2 pt-3">
                                <h3 class="btn h6 btn-product-orange text-light p-1">MODIFICA</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--   End Key Bar   -->

            </div>
        </div>
<!--    End List key    -->
    </div>
<!-- End Container-->
{% endblock %}