{% extends "ecommerce/base.html" %}
{% block content %}
<!--Start Container-->
    <div class="container p-3">
        {% if library_user_count > 0 %}
<!--  Property/Sort Library  -->
        <div class="d-flex justify-content-center pb-3">
            <div class="col-8">
                <h2 class="fw-bold fst-italic text-start text-light">LA tua LIBRERIA:</h2>
                <div class="row">
                    <div class="col-sm-2 align-self-center">
                        <h3 class="h6 fst-italic text-start text-light">Ordina per </h3>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-select form-select-sm col-sm-2" aria-label=".form-select-sm">
                            <option value="1" class="h6 fst-italic text-start text-secondary">Data di Acquisto</option>
                            <option value="2" class="h6 fst-italic text-start text-secondary">Prezzo</option>
                            <option value="3" class="h6 fst-italic text-start text-secondary">A alla Z</option>
                            <option value="3" class="h6 fst-italic text-start text-secondary">Per venditore</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <div class="btn btn-secondary text-light">
                            <span class="h6 ">Inverti</span>
                            <span class="material-icons">
                                swap_vert
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--   End Property Library  -->


        {% for product in library_user %}
<!--   Start Library Bar     -->
        <div class="row">
            <div class="col-sm-1">
                <div class="position-absolute p-5" >
                    <div class="badge rounded-pill bg-dark border-img ">
                        <h3 class="fw-bold h6">Posizione 1</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center pb-5">
            <div class="bar-color col-9 row rounded-2 border-orange pt-2 pb-2">
                <div class="col-sm-4 align-self-center">
                    <a class="" href="#">
                    <img class="w-100 border-img" src="https://images4.alphacoders.com/115/thumb-1920-1151249.jpg" alt="">
                    </a>
                </div>

                <div class="align-self-center col-sm-3">
                    <h3 class="h4 fw-bold brand-text-color title-bar t-shadow">{{product.key|get_name_product}}</h3>
                            <div class="btn">
                                <div class="inner-bar rounded-1 col-sm-9">
                                    <span class="fst-italic text-light">
                                        Recensioni: 15
                                    </span>
                                    <span class="fst-italic text-light">
                                        Valutazione: 8.5
                                    </span>
                                </div>
                            </div>
                    <button type="button" class="btn btn-sm h6 text-center text-light btn-product-orange p-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Lascia Recensione Prodotto
                    </button>
                    <button type="button" class=" btn btn-sm h6 text-center text-light btn-product-orange p-2"  data-bs-toggle="modal" data-bs-target="#VoteTransaction">
                        Lascia Recensione Venditore
                    </button>
                </div>

                <div class="align-self-center col-sm-3">
                    <div class="square-rev">
                        <h3 class="h6 text-light p-1">Data di Acquisto:</h3>
                        <h3 class="h6 text-light p-1 t-shadow">{{product.date_time}}</h3>
                    </div>
                    <div class="square-rev">
                        <h3 class="h6 text-light p-1 t-shadow">Venditore: {{product.seller}}</h3>
                    </div>
                    <div class="square-rev">
                        <h3 class="h6 text-light p-1">Sconto all'acquisto: {{product.key|get_key_sale}}%</h3>
                    </div>
                </div>

                <div class="col-sm-2 ">
                    <div class="rounded-5 p-3">
                        <div class="badge-product">
                            <div class="text-center text-light">
                                <div class="h6 ">Prezzo all'Acquisto</div>
                                <div class="h6 "><strike>40.60</strike></div>
                                <span class="h5 fw-bold t-shadow">{{ product.key|get_key_price_by_transaction }}</span>
                            </div>
                        </div>
                    </div>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#showkey" class="btn btn-sm h6 text-center text-light btn-product-orange p-2">
                        <div class="">MOSTRA CHIAVE</div>
                    </button>

                    <!-- Modal show key -->
                    <div class="modal fade" id="showkey" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title h4 fw-bold mb-4 paint-orange">Mostra Chiave</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="d-flex justify-content-center ">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="h3 fw-bold">
                                            Codice-chiave-venduto
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                              </div>
                        </div>
                      </div>
                    </div>
        <!--        End show key modal-->

                </div>

            </div>
        </div>
<!--   End Library Bar   -->
        {% endfor %}

            </div>
        </div>
<!--    End Library    -->
        {% else %}
        <div class="row">
            <div class="justify-content-center">
                <h3 class="h6 text-light text-center t-shadow ">Al momento hai prodotti nella tua Libreria</h3>
            </div>
        </div>
        {% endif %}
    </div>
<!-- End Container-->
{% endblock %}