{% extends "ecommerce/base.html" %}
{% load ecommerce_tags %}
{% load customer_tags %}
{% block content %}
<!--Start Container-->
    <div class="container p-3">
        {% if transactions_count > 0 %}
<!--  Property/Sort Library  -->
        <div class="d-flex justify-content-center pb-3">
            <div class="col-8">
                <h2 class="fw-bold fst-italic text-start text-light">Your library:</h2>
            </div>
        </div>
<!--   End Property Library  -->


        {% for transaction in transactions %}
<!--   Start Library Bar     -->
        <div class="d-flex justify-content-center pb-5">
            <div class="bar-color col-9 row rounded-2 border-orange pt-2 pb-2">
                <div class="col-sm-4 align-self-center">
                    <a class="" href="{% url 'ecommerce:product' id=transaction.key.product.id %}">
                    <img class="w-100 border-img" src=/media/{{transaction.key.product.pic}} alt="Image not found" onerror="this.onerror=null;this.src='/media/products/images/img_default.jpg';">
                    </a>
                </div>

                <div class="align-self-center col-sm-3">
                    <h3 class="h4 fw-bold brand-text-color title-bar t-shadow">{{ transaction.key.product.name }}</h3>
                    <a class="" href="{% url 'review:review' prod_id=transaction.key.product.id %}">
                        <div class="btn">
                            <div class="inner-bar rounded-1 col-sm-9">
                                <span class="fst-italic text-light">
                                    Ratings: {{transaction.key.product|get_rate_count}}
                                </span>
                                <span class="fst-italic text-light">
                                    Rate: 
                                    {% if transaction.key.product|get_rate_count > 0 %}
                                        {{transaction.key.product|get_total_rate|floatformat:1}}
                                    {% else %}
                                        0
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </a>
                    {% if not transaction.is_seller_rated %}
                    <button type="button" class=" btn btn-sm h6 text-center text-light btn-product-orange p-2"  data-bs-toggle="modal" data-bs-target="#VoteTransaction{{transaction.id}}">
                        Rate this seller
                    </button>
                    {% endif %}
                </div>

                    <!--    Start Form ADD Seller Vote    -->
                    <!-- Modal -->
                    <div class="modal fade"  id="VoteTransaction{{transaction.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title h4 fw-bold paint-orange" >Add rating</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="{% url 'customer:add-seller-rate' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div>
                                            <h3 class="h5">Rate:</h3>
                                            <div class="col-sm-3 pb-3">
                                                <input type="hidden" name="transaction_id" value="{{transaction.id}}">
                                                <select name="rate" class="form-select form-select-sm col-sm-2" aria-label=".form-select-sm">
                                                    <option value="1" class="h6 fst-italic text-start text-secondary">1 bad</option>
                                                    <option value="2" class="h6 fst-italic text-start text-secondary">2</option>
                                                    <option value="3" class="h6 fst-italic text-start text-secondary">3</option>
                                                    <option value="4" class="h6 fst-italic text-start text-secondary">4</option>
                                                    <option value="5" class="h6 fst-italic text-start text-secondary">5 mediocre</option>
                                                    <option value="6" class="h6 fst-italic text-start text-secondary">6</option>
                                                    <option value="7" class="h6 fst-italic text-start text-secondary">7</option>
                                                    <option value="8" class="h6 fst-italic text-start text-secondary">8</option>
                                                    <option value="9" class="h6 fst-italic text-start text-secondary">9</option>
                                                    <option value="10" class="h6 fst-italic text-start text-secondary">10 unbelievable</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn badge-product">Add rating</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                <div class="align-self-center col-sm-3">
                    <div class="square-rev">
                        <h3 class="h6 text-light p-1">Purchase date: {{transaction.date_time | date:"d/m/Y"}}</h3>
                    </div>
                    <div class="square-rev">
                        <h3 class="h6 text-light p-1">Seller: {{transaction.seller}}</h3>
                    </div>
                </div>

                <div class="col-sm-2 mt-5">
                    <div class="row justify-content-center">
                        <div class="rounded-5 p-3">
                            <div class="badge-product">
                                <div class="text-center text-light">
                                    <div class="h6 ">Price</div>
                                    <span class="h5 fw-bold t-shadow">€ {{transaction.key.sale_price}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#showkey" class="btn btn-sm h6 text-center text-light btn-product-orange">
                                <div class="">Show key</div>
                            </button>
                        </div>
                        <!-- Modal show key -->
                        <div class="modal fade" id="showkey" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title h4 fw-bold mb-4 paint-orange">Key code</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex justify-content-center ">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="h3 fw-bold">
                                                {{transaction.key}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                        </div>
        <!--        End show key modal-->
                    </div>
                </div>

            </div>
        </div>
<!--   End Library Bar   -->
        {% endfor %}

            </div>
        </div>
<!--    End Library    -->
        {% else %}
        <div class="row">
            <div class="justify-content-center">
                <h3 class="h6 text-light text-center t-shadow ">Your library is empty</h3>
            </div>
        </div>
        {% endif %}
    </div>
<!-- End Container-->
{% endblock %}