{% extends "ecommerce/base.html" %}
{% block content %}

<!--Start Profile_Settings Page-->
<!--    start container-->
    <div class="container">
      <div class="d-flex justify-content-center pt-3 pb-3">
<!--    Start Col-10    -->
        <div class="col-10 row ">

          <div class="row">
              <div class="col-4 pt-1">
                  <h2 class="h4 fw-bold title-bar t-shadow text-start">Username Profile Settings</h2>
              </div>
            <div class="col-4">
              <div class="btn btn-secondary text-light">
                <span class="h6 ">Modify</span>
                <span class="material-icons">border_color</span>
              </div>
            </div>
          </div>

          <div class="col-sm-6 pt-3">
            <div class="justify-content-center">
              <a class="" href="#">
                <img class=" pic-img border-img" src="https://cdn.akamai.steamstatic.com/steam/apps/449800/header.jpg?t=1629090138" alt="">
              </a>
            </div>

            <div class="container pt-3 pb-3">
              <div class="bg-secondary rounded-2 border-product">
                <div class=" ">



                  <div class="row p-2 ">
                <!--valutazione-->
                    <div class="col-4 ">
                      <div class="text-light text-center">
                        <div class="">
                          <h3 class="h6 text-light text-center pt-3">Valutazioni</h3>
                        </div>

                        <div class="row ">
                          <div class="col-6 text-end">
                            <span class="material-icons">
                              thumbs_up_down
                            </span>
                          </div>
                          <div class="col-6">
                            <h3 class="h6 text-light text-start fst-italic">6</h3>
                          </div>
                        </div>
                      </div>
                    </div>
<!--                    fine valutazione-->
                  <!--voto-->
                    <div class="col-4 px-4 " >
                      <div class="text-light text-center border border-light circle">
                        <div class="">
                          <h3 class="h6 text-light text-center pt-2 ">Voto</h3>
                          <h3 class="h5 fw-bold text-light text-center ">8/10</h3>
                        </div>
                      </div>
                    </div>
<!--                  fine voto-->
                    <!--recensione-->
                    <div class="col-4 align-self-center">
                      <div class="text-light text-center">
                        <div class="">
                          <h3 class="h6 text-light text-center pt-3">Recensioni</h3>
                        </div>

                        <div class="row">
                          <div class="col-6 text-end">
                            <span class="material-icons">
                              rate_review
                            </span>
                          </div>
                          <div class="col-6">
                            <h3 class="h6 text-light text-start fst-italic">6</h3>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>

          </div>

<!--      Start Specifiche    -->
          <div class="col-sm-6 pb-3 ">
            <div class="bg-dark rounded border-img">

              <h3 class="h4 fw-bold text-light text-center">Profilo</h3>

              <div class="row p-3">
                <h3 class="col-4 h5 text-light">Email:</h3>
                <div class="col-3 h5 text-light badge badge-product">email_user</div>
              </div>

              <div class="row p-3">
                <h3 class="col-4 h5 text-light">Username:</h3>
                <div class="col-3 h5 text-light badge badge-product">username_user</div>
              </div>

              <div class="row p-3">
                <h3 class="col-4 h5 text-light">Password:</h3>
                <div class="col-3 h5 text-light badge badge-product">password_user</div>
              </div>

              <div class="row p-3">
                <h3 class="col-5 h5 text-light">Chiavi Acquistate:</h3>
                <div class="col-3 h5 text-light badge badge-product">31</div>
              </div>

              <div class="row p-3">
                <h3 class="col-4 h6 text-light">Chiavi Recensite:</h3>
                <div class="col-1 h5 text-light badge badge-product">25</div>
                <h3 class="col-5 h6 text-light">Venditori Recensiti:</h3>
                <div class="col-1 h5 text-light badge badge-product">16</div>
              </div>

              <hr class="text-light">

              <div class="row p-3">
                <h3 class="col-4 h5 text-light">Stato attuale:</h3>
                <div class="col-3 h5 text-light badge badge-product">UTENTE</div>
              </div>

              <div class="row px-3 pb-3">
                  <div class="col-5 align-self-center">
                    <h3 class="h5 text-light">Diventa Venditore</h3>
                  </div>
                  <div class="col-3">
                    <div class="btn badge-product">
                      <span class="wishlist-heart"><i class="material-icons store">storefront</i></span>
                    </div>
                  </div>
              </div>

              <div class="row px-3 pb-3">
                <div class="col-7 align-self-center">
                  <h3 class="h5 text-light">Smetti di essere venditore</h3>
                </div>
                <div class="col-3">
                  <div class="btn badge-product">
                    <span class="wishlist-heart"><i class="material-icons store">close</i></span>
                  </div>
                </div>
              </div>

              <div class="row p-3">
                <h3 class="col-4 h6 text-light">Chiavi Vendute:</h3>
                <div class="col-2 h5 text-light badge badge-product">131</div>
                <h3 class="col-4 h6 text-light">Chiavi Disponibili:</h3>
                <div class="col-2 h5 text-light badge badge-product">20</div>
              </div>


            </div>
          </div>
  <!--    End Col-10   -->

          <hr class="text-light">

<!--      Start Trama   -->
          <div class="row">
            <div class="justify-content-center">
<!--              <h3 class="h4 text-light text-center">Dettagli</h3>-->
              <h3 class="h6 text-light text-center t-shadow ">Il gioco si svolge in un mondo dove
                l'Ordine Aureo, un tempo incaricato di governare i regni, è ora andato in frantumi.
                Nell'Interregno governato dalla regina Marika l'Eterna, l'Anello ancestrale, sorgente
                dell'Albero Madre, è andato in frantumi</h3>
            </div>
          </div>
<!--      End Trama    -->
          <hr class="text-light">

<!--    Start Key List      -->
<!--      Start Title List    -->
          <div class="d-flex justify-content-center pb-3">
            <div class="col-8">
              <h3 class="fw-bold fst-italic text-center text-light">LISTA CHIAVI:</h3>
            </div>
          </div>
<!--      End title list-->
<!--      Start List-->
          <div class="d-flex justify-content-center pb-5">
            <div class="bar-color col-8 row rounded-2 border-orange pt-2 pb-2">
<!--          Start img    -->
              <div class="col-sm-2 align-self-center">
                <a class="" href="#">
                  <img class=" circle border-img" src="https://images4.alphacoders.com/115/thumb-1920-1151249.jpg" alt="">
                </a>
              </div>
<!--          End img    -->

<!--          Start Dectails Seller    -->
              <div class="align-self-center col-sm-3">
                <a class="" href="#">
                  <h3 class="h5 brand-text-color text-start title-bar t-shadow">Nome_venditore</h3>
                </a>
                <div class="h6 fst-italic text-start text-secondary ">chiavi vendute: 10</div>
                <div class="h6 fst-italic text-start text-secondary ">valutazione: 7.5</div>
              </div>
<!--          End Dectails Seller    -->

<!--          Start Dectails Key     -->
              <div class="align-self-center col-sm-3 px-5">
                <div class="">
                  <h3 class="text-light badge badge-product ">Sconto %%%</h3>
                </div>
                <div class="">
                  <h3 class="text-light badge badge-product ">Durata sconto: dd-hh</h3>
                </div>
                <div class="">
                  <h3 class="text-light badge badge-product ">Sconto %%%</h3>
                </div>
              </div>
<!--          End Dectails Key     -->

<!--          Start Price    -->
              <div class="align-self-center col-sm-2">
                  <div class="text-center">
                      <span class="text-center h6 title-bar t-shadow">Prezzo</span>
                      <span class="text-center h5 fw-bold title-bar t-shadow">16.78</span>
                  </div>
              </div>
<!--          End Price    -->

<!--          Start Cart Button    -->
              <div class="align-self-center col-sm-2">
                <div class=" ">
                  <div class="btn btn-product-orange">
                    <h3 class="h6 text-light">Aggiungi al Carrello</h3>
                  </div>
                </div>
              </div>
<!--          End Cart Button    -->

            </div>
          </div>
<!--      End List    -->
          <!--      Start List-->
          <div class="d-flex justify-content-center pb-5">
            <div class="bar-color col-8 row rounded-2 border-orange pt-2 pb-2">
              <!--          Start img    -->
              <div class="col-sm-2 align-self-center">
                <a class="" href="#">
                  <img class=" circle border-img" src="https://images4.alphacoders.com/115/thumb-1920-1151249.jpg" alt="">
                </a>
              </div>
              <!--          End img    -->

              <!--          Start Dectails Seller    -->
              <div class="align-self-center col-sm-3">
                <a class="" href="#">
                  <h3 class="h5 brand-text-color text-start title-bar t-shadow">Nome_venditore</h3>
                </a>
                <div class="h6 fst-italic text-start text-secondary ">chiavi vendute: 10</div>
                <div class="h6 fst-italic text-start text-secondary ">valutazione: 7.5</div>
              </div>
              <!--          End Dectails Seller    -->

              <!--          Start Dectails Key     -->
              <div class="align-self-center col-sm-3 px-5">
                <div class="">
                  <h3 class="text-light badge badge-product ">Sconto %%%</h3>
                </div>
                <div class="">
                  <h3 class="text-light badge badge-product ">Durata sconto: dd-hh</h3>
                </div>
                <div class="">
                  <h3 class="text-light badge badge-product ">Sconto %%%</h3>
                </div>
              </div>
              <!--          End Dectails Key     -->

              <!--          Start Price    -->
              <div class="align-self-center col-sm-2">
                <div class="text-center">
                  <span class="text-center h6 title-bar t-shadow">Prezzo</span>
                  <span class="text-center h5 fw-bold title-bar t-shadow">16.78</span>
                </div>
              </div>
              <!--          End Price    -->

              <!--          Start Cart Button    -->
              <div class="align-self-center col-sm-2">
                <div class=" ">
                  <div class="btn btn-product-orange">
                    <h3 class="h6 text-light">Aggiungi al Carrello</h3>
                  </div>
                </div>
              </div>
              <!--          End Cart Button    -->

            </div>
          </div>
          <!--      End List    -->
          <!--      Start List-->
          <div class="d-flex justify-content-center pb-5">
            <div class="bar-color col-8 row rounded-2 border-orange pt-2 pb-2">
              <!--          Start img    -->
              <div class="col-sm-2 align-self-center">
                <a class="" href="#">
                  <img class=" circle border-img" src="https://images4.alphacoders.com/115/thumb-1920-1151249.jpg" alt="">
                </a>
              </div>
              <!--          End img    -->

              <!--          Start Dectails Seller    -->
              <div class="align-self-center col-sm-3">
                <a class="" href="#">
                  <h3 class="h5 brand-text-color text-start title-bar t-shadow">Nome_venditore</h3>
                </a>
                <div class="h6 fst-italic text-start text-secondary ">chiavi vendute: 10</div>
                <div class="h6 fst-italic text-start text-secondary ">valutazione: 7.5</div>
              </div>
              <!--          End Dectails Seller    -->

              <!--          Start Dectails Key     -->
              <div class="align-self-center col-sm-3 px-5">
                <div class="">
                  <h3 class="text-light badge badge-product ">Sconto %%%</h3>
                </div>
                <div class="">
                  <h3 class="text-light badge badge-product ">Durata sconto: dd-hh</h3>
                </div>
                <div class="">
                  <h3 class="text-light badge badge-product ">Sconto %%%</h3>
                </div>
              </div>
              <!--          End Dectails Key     -->

              <!--          Start Price    -->
              <div class="align-self-center col-sm-2">
                <div class="text-center">
                  <span class="text-center h6 title-bar t-shadow">Prezzo</span>
                  <span class="text-center h5 fw-bold title-bar t-shadow">16.78</span>
                </div>
              </div>
              <!--          End Price    -->

              <!--          Start Cart Button    -->
              <div class="align-self-center col-sm-2">
                <div class=" ">
                  <div class="btn btn-product-orange">
                    <h3 class="h6 text-light">Aggiungi al Carrello</h3>
                  </div>
                </div>
              </div>
              <!--          End Cart Button    -->

            </div>
          </div>
          <!--      End List    -->
          
  <!--    End Key List      -->

        </div>

    </div>
<!--    End Container-->
  </div>
<!--End Profile settings Page-->
{% endblock %}