{% extends "ecommerce/base.html" %}
{% block content %}

<!--<div class="container h-100">-->
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->

<!--        <ul class="errorlist"><li>This field is required.</li></ul>-->
<!--        <p><label for="id_serial_key">Serial key:</label>-->
<!--            <input type="text" name="serial_key" maxlength="64" required id="id_serial_key">-->
<!--            <span class="helptext">Enter the serial key</span></p>-->

<!--            <ul class="errorlist"><li>This field is required.</li></ul>-->
<!--            <p><label for="id_price">Price:</label> <input type="number" name="price" step="0.01" required id="id_price">-->
<!--                <span class="helptext">Enter the price for the key</span></p>-->
<!--            <p><label for="id_sale">Sale:</label> <input type="number" name="sale" id="id_sale">-->
<!--                <span class="helptext">Enter the sale value</span></p>-->

<!--            <p><label for="id_sale_expiry_date">Sale expiry date:</label>-->
<!--                <input type="text" name="sale_expiry_date" id="id_sale_expiry_date"></p>-->

<!--            <p><label for="id_product">Product:</label>-->
<!--                <select name="product" required id="id_product">-->
<!--                <option value="1085" selected>Assassin’s Creed: IV Black Flag</option>-->
<!--                <option value="1085">Assassin’s Creed: IV Black Flag</option>-->

<!--                </select></p>-->
<!--                <ul class="errorlist"><li>This field is required.</li></ul>-->
<!--                <p><label for="id_seller">Seller:</label>-->
<!--                    <select name="seller" required id="id_seller">-->
<!--                    <option value="1168" selected>{{request.user}}</option>-->
<!--                    <option value="1168">{{request.user}}</option>-->

<!--        {{form.as_p}}-->
<!--        <input type="submit" value="Save">-->
<!--    </form>-->

<!--    <button type="button" class="btn btn-product-orange text-light fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--        Aggiungi Chiave-->
<!--    </button>-->

<!--    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--            <form method="post">-->
<!--            {% csrf_token %}-->

<!--            <div class="modal-content">-->


<!--                {% if form.errors %}-->
<!--                <div class="alert alert-danger" role="alert">-->
<!--                    <strong>Error:</strong> Uno dei campi inseriti non è corretto-->
<!--                </div>-->
<!--                {% endif %}-->

<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title h4 fw-bold brand-text-color paint-orange" id="exampleModalLabel">Aggiungi Chiave</h5>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <div class="">-->
<!--                        <h3 class="h4">Scegli Prodotto:</h3>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col-sm-10">-->
<!--                            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Scrivi nome per cercare">-->
<!--                            <datalist id="datalistOptions">-->
<!--                                {% for product in products%}-->
<!--                                <input type="hidden" name="product" required id="id_product"  value="{{product.id}}">-->
<!--                                <option value="{{product.name}}">-->
<!--                                {% endfor %}-->
<!--                            </datalist>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <hr>-->

<!--                    <div class="">-->
<!--                        <h3 class="h4">Inserisci Chiave:</h3>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label for="code"> Codice</label>-->
<!--                        <input type="text" name="serial_key" maxlength="64" required id="id_serial_key" class="form-control" type="text" id="code" name="code" placeholder="Inserisci Codice Chiave">-->
<!--                    </div>-->

<!--                    <hr>-->

<!--                    <h3 class="h4">Prezzo Chiave:</h3>-->
<!--                    <div class="row">-->
<!--                        <div class="col-sm-6">-->
<!--                            <div class="input-group mb-3">-->
<!--                                <span class="input-group-text">€</span>-->
<!--                                <input type="number" name="price" step="0.01" required id="id_price" class="form-control text-center"  id="price" placeholder="Inserisci Prezzo Chiave">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <hr>-->

<!--                    <h3 class="h4">Gestisci Sconto:</h3>-->
<!--                    <input type="hidden" name="seller" required id="id_seller" value="{{request.user}}">-->
<!--                    <input type="hidden" name="sold" id="id_sold">-->

<!--                    <label for="id_sale">Sale:</label>-->
<!--                    <input type="number" name="sale" id="id_sale">-->

<!--                    <label for="id_sale_expiry_date">Sale expiry date:</label>-->
<!--                    <input type="text" name="sale_expiry_date" id="id_sale_expiry_date">-->

<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    <input type="submit" value="Save" class="btn " style="background-color: rgb(210, 140, 70)";>Salva e Aggiungi chiave</input>-->
<!--                </div>-->
<!--            </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->

<div class="container">

    <button type="button" class="btn btn-product-orange text-light fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Aggiungi Chiave
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title h4 fw-bold brand-text-color paint-orange" id="exampleModalLabel">Aggiungi Chiave</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <form method="POST">
            {% csrf_token %}
          <div class="modal-body">
            <div class="">
                <h3 class="h4">Scegli Prodotto:</h3>
            </div>

            <div class="row">
                <div class="col-sm-10">
                    <input name="product" required id="id_product" class="form-control" value="" list="datalistOptions" id="exampleDataList" placeholder="Scrivi nome per cercare">
                    <datalist id="datalistOptions">
                        {% for product in products%}
                        <option value="{{product.id}}">{{product.name}}</option>
                        {% endfor %}
                    </datalist>
                </div>
            </div>

            <hr>

            <div class="">
                <h3 class="h4">Inserisci Chiave:</h3>
            </div>

            <label for="id_serial_key">Codice:</label>
            <input class="form-control" type="text" name="serial_key" maxlength="64" required id="id_serial_key" placeholder="Inserisci Codice Chiave">

            <hr>

            <h3 class="h4">Prezzo Chiave:</h3>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">€</span>
                        <input class="form-control text-center" type="number" name="price" step="0.01" required id="id_price" placeholder="Inserisci Prezzo Chiave">
                    </div>
                </div>
            </div>

            <hr>

            <h3 class="h4">Gestisci Sconto:</h3>
            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">%</span>
                        <input class="form-control" placeholder="inserisci sconto" type="number" name="sale" id="id_sale">
                    </div>
                </div>
            </div>

            <label for="id_sale_expiry_date">Scegli giorno di fine sonto:</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" >Giorno</span>
                    <input class="form-control" placeholder="giorno fine sconto" type="date" name="sale_expiry_date" id="id_sale_expiry_date">
                </div>

            <input type="hidden" name="seller" required id="id_seller" value="{{user.id}}">


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="submit" value="Salva e Aggiungi chiave" class="btn " style="background-color: rgb(210, 140, 70)";></input>
          </div>
          </form>

        </div>
      </div>
    </div>
<!--    end modal-->
</div>




<!--change pic-->
<!--<form enctype="multipart/form-data" method="post">-->
<!--    {% csrf_token %}-->
<!--    {{form2.as_p}}-->
<!--    <input type="submit" value="Save" >invia</input>-->
<!--</form>-->

{% endblock %}