{% extends "ecommerce/base.html" %}
{% load ecommerce_tags %}
{% load customer_tags %}
{% block content %}
<!--Start Container-->
    <div class="container p-3">
     {% if product_count > 0 %}

<!--  Property/Sort Wishlist  -->
        <div class="d-flex justify-content-center pb-3">
            <div class="col-8">
                <h2 class="fw-bold fst-italic text-start text-light">La tua WHISHLIST:</h2>
                <div class="row">
                    <div class="col-sm-2 align-self-center">
                        <h3 class="h6 fst-italic text-start text-light">Ordina per </h3>
                    </div>
                        <div class="col-sm-3">
                            <select class="form-select form-select-sm col-sm-2" aria-label=".form-select-sm">
                                <option value="1" class="h6 fst-italic text-start text-secondary">Data di Aggiunta</option>
                                <option value="2" class="h6 fst-italic text-start text-secondary">Prezzo</option>
                                <option value="3" class="h6 fst-italic text-start text-secondary">A alla Z</option>
                            </select>
                        </div>
                </div>
            </div>
        </div>
<!--   End Property Wishlist  -->

<!--     Start Wishlist   -->
        {% for product in product_list_alphabetic %}
        <!--   Start Wishlist  Bar   -->
        <div class="row">
            <div class="col-sm-1">
                <div class="position-absolute p-5" >
                    <div class="row pt-2 ">
                        <div class="btn d-flex justify-content-center">

                            <form action="{% url 'customer:remove-from-wishlist' %}" method="post">
                            {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{product.id}}">
                                <button class="btn d-flex justify-content-center">
                                 <h3 class="fw-bold h6">elimina</h3>
                                <span class="material-icons">
                                    cancel
                                </span>
                            </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center pb-5">
            <div class="bar-color col-8 row rounded-2 border-orange pt-2 pb-2">
                <div class="col-sm-4 align-self-center">
                    <a class="" href="/product?id={{product.id}}">
                    <img class="w-100 border-img" src=/media/{{product.pic}} alt="Immagine non trovata" onerror="this.onerror=null;this.src='/media/products/images/img_default.jpg';">
                    </a>
                </div>

                <div class="align-self-center col-sm-3">
                    <h3 class="h4 fw-bold brand-text-color title-bar t-shadow">{{product.name}}</h3>
                        <a class="" href="/review?id={{product.id}}">
                            <div class="btn">   
                                <div class="inner-bar rounded-1 col-sm-9">
                                    <seerev>
                                    <span class="fst-italic text-light">
                                        Recensioni: {{product|get_rate_count}}
                                    </span>
                                    <span class="fst-italic text-light">
                                        Valutazione: 
                                        {% if product|get_rate_count > 0 %}
                                        {{product|get_total_rate|floatformat:1}}
                                        {% else %}
                                        0
                                        {% endif %}
                                    </span>
                                    </seerev>
                                </div>
                            </div>
                        </a>
                </div>

                <div class="align-self-center col-sm-3">
                    <div class="square-rev">
                        <h3 class="h6 text-light p-1">Chiavi Restanti: {{product|get_key_count}}</h3>
                    </div>
                    <div class="square-rev">
                        <h3 class="h6 text-light p-1">Chiavi in Sconto: {{product|get_key_sale_count}}</h3>
                    </div>
                    <div class="square-rev ">
                        <h3 class="h6 text-light p-1">Sconto più Alto: {{product|get_max_sale}}%</h3>
                    </div>
                </div>

                <div class="align-self-center col-sm-2">
                    <div class="rounded-5">
                        <button class="btn btn-lg btn-primary btn-humble-orange"style="height: 125px" type="submit">
                            {% if product|get_key_count > 0 %}
                            <addtocar class="btn fw-bold text-light">
                                <div class="text-center text-light">
                                    <span class="h6 ">Miglior Prezzo</span>
                                    <span class="h5 fw-bold">€{{product.lowest_price|floatformat:2}}</span>
                                </div>
                            </addtocar>
                            {% else %}
                            <div class="row">
                                <div class="justify-content-center">
                                    <h3 class="h6 text-light text-center">Nessuna chiave disponibile</h3>
                                </div>
                            </div>
                            {% endif %}
                        </button>
                    </div>
                </div>

            </div>
        </div>
<!--   End Whishlist Bar   -->
        {% endfor %}

<!--    End Whishlist    -->
     {% else %}
            <div class="row">
                <div class="justify-content-center">
                    <h3 class="h6 text-light text-center t-shadow ">Al momento hai prodotti nella tua wishlist</h3>
                </div>
            </div>
     {% endif %}
    </div>
<!-- End Container-->
{% endblock %}