
gs/__pycache__/

review/__pycache__/

review/migrations/__pycache__/

Pipfile

Pipfile.lock

ecommerce/__pycache__/

.idea/

ecommerce/migrations/__pycache__/

customer/__pycache__/

customer/migrations/__pycache__/

db.sqlite3
/.vs

ecommerce/migrations/0014_key_seller.py
