{% extends "ecommerce/base.html" %}
{% block content %}

  {% load static %}
<div class="container h-50 p-5">
    <div class="d-flex justify-content-center h-100">
        <div class="bg-light log_out">
            <div class="row">
                <div class="col-sm-12 pt-1 pb-1">
                    <h5 class="h3 text-center fw-bold brand-text-color">Logout</h5>
                </div>
                <div class="col-sm-12 text-center pt-1 pb-1">
                    <span>Log out correctly</span>
                </div>
                <div class="col-sm-12 text-center pt-1 pb-1">
                    <a href="{% url 'login'%}">
                        Click here to sign in
                    </a>                </div>
                <div class="col-sm-12 d-flex justify-content-center pt-3 pb-1">
                    <a class="btn btn login_btn" href="{% url 'ecommerce:homepage' %}">
                        Back to homepage
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}