body{
    background-color: #494f5c;
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: calc(100% - 4.5em);
    }
}

#homepage-motto > .material-icons{
    line-height: 1.2;
    vertical-align: sub;
}

#takeover{
    background-image: url("https://hb.imgix.net/7c60d5d3be4218d75da6ffd3f7a400accc6cd116.png?auto=compress,format&w=1920&s=b4b5c696ac63511e7dac64d842021972");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-days-left{
    background-color: rgba(0,0,0,.5);
    border: solid 2px #ccc;
}