{% extends "ecommerce/base.html" %}
{% block content %}
{% load ecommerce_tags %}
<!--Start Container-->
    <div class="container p-3">

    {% if transaction_count > 0 %}

<!--  Property/Sort Cart  -->
        <div class="d-flex justify-content-center pb-3">
            <div class="col-8">
                <h2 class="fw-bold fst-italic text-start text-light">Il tuo Carrello:</h2>
            </div>
        </div>
<!--   End Property/Sort Cart  -->


<!--   Start Cart     -->

        {% for transaction in transaction_list %}

        <div class="row">
            <div class="col-sm-1">
                <div class="position-absolute p-5" >
                    <form action="{% url 'ecommerce:remove-from-cart' %}" method="post">
                        {% csrf_token %}
                    <input type="hidden" name="transaction_id" value={{product.id}}>
                    <button class="btn d-flex justify-content-center">
<!--                        <h3 class="badge rounded-pill bg-dark border-img fw-bold h6">elimina</h3>-->
                        <h3 class="fw-bold h6">elimina</h3>
                        <span class="material-icons">
                            cancel
                        </span>
                    </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center pb-2">
            <div class="bar-color col-8 row rounded-2 border-orange pt-2 pb-2">
                <div class="col-sm-4 align-self-center">
                    <a class="" href="{% url 'ecommerce:product' id=transaction.key.product.id %}">
                        <img class="w-100 border-img" src=/media/{{transaction.key.product.pic}} alt="Immagine non trovata" onerror="this.onerror=null;this.src='/media/products/images/img_default.jpg';">
                        </a>
                </div>

                <div class="align-self-center col-sm-3">
                    <h3 class="h4 fw-bold brand-text-color title-bar t-shadow">{{transaction.key.product.name}}</h3>
                        <a class="" href="{% url 'review:review' prod_id=transaction.key.product.id %}">
                            <div class="btn">
                                <div class="inner-bar rounded-1 col-sm-9">
                                    <seerev>
                                    <span class="fst-italic text-light">
                                        Recensioni: {{transaction.key.product|get_rate_count}}
                                    </span>
                                    <span class="fst-italic text-light">
                                        Valutazione: {{transaction.key.product|get_total_rate|floatformat:1}}
                                    </span>
                                    </seerev>
                                </div>
                            </div>
                        </a>
                </div>

                <div class="align-self-center col-sm-3">
                    <div class="square-rev">
                        <h3 class="h5 text-light">Venditore: {{transaction.seller}}</h3>
                        <h3 class="h6 text-light">Valutazione venditore: {{transaction.seller|get_seller_rate|floatformat:1}}</h3>
                    </div>
                    <div class="square-rev">
                        <h3 class="h6 text-light p-1">Sconto attuale: {{transaction.key.sale}}%</h3>
                    </div>
                    {% if transaction.key.sale_expiry_date != null %}
                        <div class="square-rev ">
                            <h3 class="h6 text-light p-1">Fine Sconto: {{transaction.key.sale_expiry_date|date:"d/m/Y"}}</h3>
                        </div>
                    {% endif %}
                </div>
                <div class="align-self-center col-sm-2">
                    <div class="square-rev text-center">
                            <div class="h6  text-light ">Prezzo</div>
                            <div class="h6  text-light "><strike>€ {{transaction.key.price}}</strike></div>
                            <div class="h5 square-rev p-1 fw-bold text-light t-shadow ">€{{transaction.key.sale_price}}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
<!--   End Cart   -->


        <hr class="text-light">

<!--    sum of product price    -->

<!--   Start Cart     -->
        <form action="{% url 'ecommerce:buy-keys' %}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-center pb-5">
            <div class="bar-color col-8 row rounded-2 border-orange pt-2 pb-2">

                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 class="h4 fw-bold brand-text-color title-bar t-shadow">Articoli Totali:</h3>
                        </div>
                        <div class="col-sm-8">
                            {% if transaction_count > 1 %}
                                <h3 class="h6 text-secondary fst-italic pt-2">{{transaction_count}} articoli</h3>
                            {% else %}
                                <h3 class="h6 text-secondary fst-italic pt-2">{{transaction_count}} articolo</h3>
                            {% endif %}
                        </div>

                        <div class="col-sm-6">
                            <h3 class="h5 text-light">Scegli metodo di pagamento:</h3>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pay_method" id="inlineRadio1" value="Visa">
                                <label class="form-check-label" for="inlineRadio1">
                                    <h3 class="h6 p-2 rounded-3" style="background-color: rgb(247, 182, 0);">Visa</h3>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pay_method"  value="MasterCard">
                                <label class="form-check-label">
                                    <h3 class="h6 p-2 rounded-3" style="background-color: rgb(247, 92, 0);">Mastercard</h3>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pay_method" value="Maestro">
                                <label class="form-check-label">
                                    <h3 class="h6 p-2 rounded-3"style="background-color: rgb(227, 0, 26);">Maestro</h3>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pay_method" value="PayPal">
                                <label class="form-check-label" >
                                    <h3 class="h6 p-2 rounded-3" style="background-color: rgb(0, 151, 215);">PayPal</h3>
                                </label>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="align-self-center col-sm-3">
                    <div class="square-rev text-center">
                        <div class="h6  text-light ">Totale</div>
                        <div class="h6  text-light "><strike>€{{total_cost}}</strike></div>
                        <div class="h4 badge-product p-1 fw-bold text-light t-shadow ">€{{total_real_cost}}</div>
                    </div>

                    <button type="submit"  class="btn btn-sm h6 text-center text-light btn-product-orange p-2">Procedi al pagamento</button>

                </div>
            </div>
        </div>
<!--   End Cart   -->
        </form>
    </div>
</div>
<!--    End Cart Group    -->
        {% else %}
            <div class="row">
                <div class="justify-content-center">
                    <h3 class="h6 text-light text-center t-shadow ">Al momento hai prodotti nel carrello</h3>
                </div>
            </div>
        {% endif %}
    </div>
<!-- End Container-->
{% endblock %}