{% extends "ecommerce/base.html" %}
{% block content %}

<!--Start Container-->
<div class="container">
    <div class="row">
        <div class="col-md-3 pt-3">
            <div class="card catalog-card " style="background-image:url(https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda)">
                <div class="position-absolute top-0 start-0 p-1">
                    <span class="badge rounded-pill btn-product-orange">-25%</span>
                </div>

                <div class="card-content">
                    <h2 class="h4 card-title text-light t-shadow">Elden Ring</h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <div class="badge badge-product">
                                    Game
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="badge badge-product">
                                    Action
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="badge badge-product">
                                    nome_publisher
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 ">
                                <div class="badge badge-product">
                                    nome_publisher
                                </div>
                            </div>
                        </div>

                        <div class="row pt-3">
                            <div class="col-12 ">
                                <h3 class="h6 text-light">Miglior prezzo</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h3 class="h4 text-light t-shadow ">16.80</h3>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn catalog-button ">
                                    <h3 class="h6 text-light">Learn more</h3>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="position-absolute top-0 end-0 p-1">
                    <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                </div>
            </div>

        </div>

        <div class="col-md-3 pt-3">
            <div class="card catalog-card " style="background-image:url(https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda)">
                <div class="position-absolute top-0 start-0 p-1">
                    <span class="badge rounded-pill btn-product-orange">-25%</span>
                </div>

                <div class="card-content">
                    <h2 class="h4 card-title text-light t-shadow">Elden Ring</h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <div class="badge badge-product">
                                    Game
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="badge badge-product">
                                    Action
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="badge badge-product">
                                    nome_publisher
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 ">
                                <div class="badge badge-product">
                                    nome_publisher
                                </div>
                            </div>
                        </div>

                        <div class="row pt-3">
                            <div class="col-12 ">
                                <h3 class="h6 text-light">Miglior prezzo</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h3 class="h4 text-light t-shadow ">16.80</h3>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn catalog-button ">
                                    <h3 class="h6 text-light">Learn more</h3>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="position-absolute top-0 end-0 p-1">
                    <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card rounded border border-light catalog-card-little" style="background-image:url(https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda)">
                <div class="position-absolute top-0 start-0 p-1">
                    <span class="badge rounded-pill btn-product-orange">-25%</span>
                </div>
                <div class="card-content-little">
                        <h3 class="t-shadow text-light">Elden Ring</h3>
                    <div>
                        <div class="row pt-3">
                            <div class="col-12 ">
                                <h3 class="h6 text-light">Miglior prezzo</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h3 class="h4 text-light t-shadow ">16.80</h3>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn catalog-button ">
                                    <h3 class="h6 text-light">Learn more</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-absolute top-0 end-0 p-1">
                    <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card rounded border border-light catalog-card-little" style="background-image:url(https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda)">
                <div class="position-absolute top-0 start-0 p-1">
                    <span class="badge rounded-pill btn-product-orange">-25%</span>
                </div>
                <div class="card-content-little">
                    <h3 class="t-shadow text-light">Elden Ring</h3>
                    <div>
                        <div class="row pt-3">
                            <div class="col-12 ">
                                <h3 class="h6 text-light">Miglior prezzo</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h3 class="h4 text-light t-shadow ">16.80</h3>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn catalog-button ">
                                    <h3 class="h6 text-light">Learn more</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-absolute top-0 end-0 p-1">
                    <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card rounded border border-light catalog-card-little" style="background-image:url(https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda)">
                <div class="position-absolute top-0 start-0 p-1">
                    <span class="badge rounded-pill btn-product-orange">-25%</span>
                </div>
                <div class="card-content-little">
                    <h3 class="t-shadow text-light">Elden Ring</h3>
                    <div>
                        <div class="row pt-3">
                            <div class="col-12 ">
                                <h3 class="h6 text-light">Miglior prezzo</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h3 class="h4 text-light t-shadow ">16.80</h3>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn catalog-button ">
                                    <h3 class="h6 text-light">Learn more</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-absolute top-0 end-0 p-1">
                    <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                </div>
            </div>
        </div>

    </div>
</div>

<img src="https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda"
     class="rounded border border-light img-width" alt="...">
<img src="https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda"
     class="rounded border border-light img-width" alt="...">
<img src="https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda"
     class="rounded border border-light img-width" alt="...">

<!--start catalog-->
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5">
            <h3 class="h6 text-light fw-bold">
                Featured
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid px-0 bg-transparent" style="background-color: gray" >
                <!--carousel newest product-->
                <div id="carouselExampleDark" class="carousel slide pb-4 px-5" data-bs-ride="carousel">
                    <div class="carousel-indicators mb-0">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item" data-bs-interval="10000">
                            <div class="row">
                                <div class="col-md p-3">
                                    <div class="card w-100">
                                        <img src="https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda"
                                             class="card-img-top" alt="...">
                                        <div class="position-absolute top-0 start-0 p-1">
                                            <span class="badge rounded-pill btn-product-orange">-25%</span>
                                        </div>
                                        <div class="position-absolute top-0 end-0 p-1">
                                            <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                                        </div>

                                        <div class="card-body bg-dark text-light">
                                            <div class="row">
                                                <div class="col-sm-6 ">
                                                    <span class="card-text fw-bold ">
                                                        TheHunter: Call of the Wild
                                                    </span>
                                                </div>
                                                <div class="col-sm-6 align-self-center">
                                                    <div class="text-end">
                                                        <span class=" badge badge-product text-uppercase">game</span>
                                                        <span class=" badge badge-product text-uppercase">action</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6 ">
                                                    <div class="d-flex justify-content-start">
                                                        <span class="h5 opacity-white-square text-light p-2 t-shadow">€€€€€</span>
                                                        <strike><span class="h6 text-light p-1">€€€€€</span></strike>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 align-self-center">
                                                    <div class="text-end">
                                                        <span class=" badge badge-product ">Fine Sconto:dd-hh</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md p-3">
                                    <div class="card w-100">
                                        <img src="https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda"
                                             class="card-img-top" alt="...">
                                        <div class="position-absolute top-0 start-0 p-1">
                                            <span class="badge rounded-pill btn-product-orange">-25%</span>
                                        </div>
                                        <div class="position-absolute top-0 end-0 p-1">
                                            <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                                        </div>

                                        <div class="card-body bg-dark text-light">
                                            <div class="row">
                                                <div class="col-sm-6 ">
                                                    <span class="card-text fw-bold ">
                                                        TheHunter: Call of the Wild
                                                    </span>
                                                </div>
                                                <div class="col-sm-6 align-self-center">
                                                    <div class="text-end">
                                                        <span class=" badge badge-product text-uppercase">game</span>
                                                        <span class=" badge badge-product text-uppercase">action</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6 ">
                                                    <div class="d-flex justify-content-start">
                                                        <span class="h5 opacity-white-square text-light p-2 t-shadow">€€€€€</span>
                                                        <strike><span class="h6 text-light p-1">€€€€€</span></strike>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 align-self-center">
                                                    <div class="text-end">
                                                        <span class=" badge badge-product ">Fine Sconto:dd-hh</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md p-3">
                                    <div class="card w-100">
                                        <img src="https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda"
                                             class="card-img-top" alt="...">
                                        <div class="position-absolute top-0 start-0 p-1">
                                            <span class="badge rounded-pill btn-product-orange">-25%</span>
                                        </div>
                                        <div class="position-absolute top-0 end-0 p-1">
                                            <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                                        </div>

                                        <div class="card-body bg-dark text-light">
                                            <div class="row">
                                                <div class="col-sm-6 ">
                                                    <span class="card-text fw-bold ">
                                                        TheHunter: Call of the Wild
                                                    </span>
                                                </div>
                                                <div class="col-sm-6 align-self-center">
                                                    <div class="text-end">
                                                        <span class=" badge badge-product text-uppercase">game</span>
                                                        <span class=" badge badge-product text-uppercase">action</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6 ">
                                                    <div class="d-flex justify-content-start">
                                                        <span class="h5 opacity-white-square text-light p-2 t-shadow">€€€€€</span>
                                                        <strike><span class="h6 text-light p-1">€€€€€</span></strike>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 align-self-center">
                                                    <div class="text-end">
                                                        <span class=" badge badge-product ">Fine Sconto:dd-hh</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="carousel-item" data-bs-interval="10000">
                        <div class="row">
                            <div class="col-md p-3">
                                <div class="card w-100">
                                    <img src="https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda"
                                         class="card-img-top" alt="...">
                                    <div class="position-absolute top-0 start-0 p-1">
                                        <span class="badge rounded-pill btn-product-orange">-25%</span>
                                    </div>
                                    <div class="position-absolute top-0 end-0 p-1">
                                        <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                                    </div>

                                    <div class="card-body bg-dark text-light">
                                        <div class="row">
                                            <div class="col-sm-6 ">
                                                    <span class="card-text fw-bold ">
                                                        TheHunter: Call of the Wild
                                                    </span>
                                            </div>
                                            <div class="col-sm-6 align-self-center">
                                                <div class="text-end">
                                                    <span class=" badge badge-product text-uppercase">game</span>
                                                    <span class=" badge badge-product text-uppercase">action</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 ">
                                                <div class="d-flex justify-content-start">
                                                    <span class="h5 opacity-white-square text-light p-2 t-shadow">€€€€€</span>
                                                    <strike><span class="h6 text-light p-1">€€€€€</span></strike>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 align-self-center">
                                                <div class="text-end">
                                                    <span class=" badge badge-product ">Fine Sconto:dd-hh</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md p-3">
                                <div class="card w-100">
                                    <img src="https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda"
                                         class="card-img-top" alt="...">
                                    <div class="position-absolute top-0 start-0 p-1">
                                        <span class="badge rounded-pill btn-product-orange">-25%</span>
                                    </div>
                                    <div class="position-absolute top-0 end-0 p-1">
                                        <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                                    </div>

                                    <div class="card-body bg-dark text-light">
                                        <div class="row">
                                            <div class="col-sm-6 ">
                                                    <span class="card-text fw-bold ">
                                                        TheHunter: Call of the Wild
                                                    </span>
                                            </div>
                                            <div class="col-sm-6 align-self-center">
                                                <div class="text-end">
                                                    <span class=" badge badge-product text-uppercase">game</span>
                                                    <span class=" badge badge-product text-uppercase">action</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 ">
                                                <div class="d-flex justify-content-start">
                                                    <span class="h5 opacity-white-square text-light p-2 t-shadow">€€€€€</span>
                                                    <strike><span class="h6 text-light p-1">€€€€€</span></strike>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 align-self-center">
                                                <div class="text-end">
                                                    <span class=" badge badge-product ">Fine Sconto:dd-hh</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md p-3">
                                <div class="card w-100">
                                    <img src="https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda"
                                         class="card-img-top" alt="...">
                                    <div class="position-absolute top-0 start-0 p-1">
                                        <span class="badge rounded-pill btn-product-orange">-25%</span>
                                    </div>
                                    <div class="position-absolute top-0 end-0 p-1">
                                        <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                                    </div>

                                    <div class="card-body bg-dark text-light">
                                        <div class="row">
                                            <div class="col-sm-6 ">
                                                    <span class="card-text fw-bold ">
                                                        TheHunter: Call of the Wild
                                                    </span>
                                            </div>
                                            <div class="col-sm-6 align-self-center">
                                                <div class="text-end">
                                                    <span class=" badge badge-product text-uppercase">game</span>
                                                    <span class=" badge badge-product text-uppercase">action</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 ">
                                                <div class="d-flex justify-content-start">
                                                    <span class="h5 opacity-white-square text-light p-2 t-shadow">€€€€€</span>
                                                    <strike><span class="h6 text-light p-1">€€€€€</span></strike>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 align-self-center">
                                                <div class="text-end">
                                                    <span class=" badge badge-product ">Fine Sconto:dd-hh</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row">
                                <div class="col-md p-3">
                                    <div class="card w-100">
                                        <img src="https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda"
                                             class="card-img-top" alt="...">
                                        <div class="position-absolute top-0 start-0 p-1">
                                            <span class="badge rounded-pill btn-product-orange">-25%</span>
                                        </div>
                                        <div class="position-absolute top-0 end-0 p-1">
                                            <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                                        </div>

                                        <div class="card-body bg-dark text-light">
                                            <div class="row">
                                                <div class="col-sm-6 ">
                                                    <span class="card-text fw-bold ">
                                                        TheHunter: Call of the Wild
                                                    </span>
                                                </div>
                                                <div class="col-sm-6 align-self-center">
                                                    <div class="text-end">
                                                        <span class=" badge badge-product text-uppercase">game</span>
                                                        <span class=" badge badge-product text-uppercase">action</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6 ">
                                                    <div class="d-flex justify-content-start">
                                                        <span class="h5 opacity-white-square text-light p-2 t-shadow">€€€€€</span>
                                                        <strike><span class="h6 text-light p-1">€€€€€</span></strike>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 align-self-center">
                                                    <div class="text-end">
                                                        <span class=" badge badge-product ">Fine Sconto:dd-hh</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md p-3">
                                    <div class="card w-100">
                                        <img src="https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda"
                                             class="card-img-top" alt="...">
                                        <div class="position-absolute top-0 start-0 p-1">
                                            <span class="badge rounded-pill btn-product-orange">-25%</span>
                                        </div>
                                        <div class="position-absolute top-0 end-0 p-1">
                                            <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                                        </div>

                                        <div class="card-body bg-dark text-light">
                                            <div class="row">
                                                <div class="col-sm-6 ">
                                                    <span class="card-text fw-bold ">
                                                        TheHunter: Call of the Wild
                                                    </span>
                                                </div>
                                                <div class="col-sm-6 align-self-center">
                                                    <div class="text-end">
                                                        <span class=" badge badge-product text-uppercase">game</span>
                                                        <span class=" badge badge-product text-uppercase">action</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6 ">
                                                    <div class="d-flex justify-content-start">
                                                        <span class="h5 opacity-white-square text-light p-2 t-shadow">€€€€€</span>
                                                        <strike><span class="h6 text-light p-1">€€€€€</span></strike>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 align-self-center">
                                                    <div class="text-end">
                                                        <span class=" badge badge-product ">Fine Sconto:dd-hh</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md p-3">
                                    <div class="card w-100">
                                        <img src="https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda"
                                             class="card-img-top" alt="...">
                                        <div class="position-absolute top-0 start-0 p-1">
                                            <span class="badge rounded-pill btn-product-orange">-25%</span>
                                        </div>
                                        <div class="position-absolute top-0 end-0 p-1">
                                            <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                                        </div>

                                        <div class="card-body bg-dark text-light">
                                            <div class="row">
                                                <div class="col-sm-6 ">
                                                    <span class="card-text fw-bold ">
                                                        TheHunter: Call of the Wild
                                                    </span>
                                                </div>
                                                <div class="col-sm-6 align-self-center">
                                                    <div class="text-end">
                                                        <span class=" badge badge-product text-uppercase">game</span>
                                                        <span class=" badge badge-product text-uppercase">action</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6 ">
                                                    <div class="d-flex justify-content-start">
                                                        <span class="h5 opacity-white-square text-light p-2 t-shadow">€€€€€</span>
                                                        <strike><span class="h6 text-light p-1">€€€€€</span></strike>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 align-self-center">
                                                    <div class="text-end">
                                                        <span class=" badge badge-product ">Fine Sconto:dd-hh</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev justify-content-start" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next justify-content-end" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--start group cards-->

<!--Start cards-->
    <div class="card w-25">
        <img src="https://hb.imgix.net/8405a3f2419848116fe44065d10fc6198ae6c937.jpg?auto=compress,format&fit=crop&h=353&w=616&s=26f08f08d3bce705609e69204a00edda"
             class="card-img-top" alt="...">
        <div class="position-absolute top-0 start-0 p-1">
            <span class="badge rounded-pill btn-product-orange">-25%</span>
        </div>
        <div class="position-absolute top-0 end-0 p-1">
                <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
        </div>

        <div class="card-body bg-dark text-light">
            <div class="row">
                <div class="col-sm-6 ">
                        <span class="card-text fw-bold ">
                            TheHunter: Call of the Wild
                        </span>
                </div>
                <div class="col-sm-6 align-self-center">
                    <div class="text-end">
                        <span class=" badge badge-product text-uppercase">game</span>
                        <span class=" badge badge-product text-uppercase">action</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 ">
                    <div class="d-flex justify-content-start">
                        <span class="h5 opacity-white-square text-light p-2 t-shadow">€€€€€</span>
                        <strike><span class="h6 text-light p-1">€€€€€</span></strike>
                    </div>
                </div>
                <div class="col-sm-6 align-self-center">
                    <div class="text-end">
                        <span class=" badge badge-product ">Fine Sconto:dd-hh</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
<!--End cards-->
<!--End group cards-->

<!--End catalog-->
{% endblock %}