{% extends "ecommerce/base.html" %}
{% block content %}
{% load ecommerce_tags %}
<!--Start Container-->
<div class="container">
    <div class="row">
        <div id="filters_col" class="col-sm-2 mt-4">
            <ul class="list-group">
                <li class="list-group-item bg-dark">
                    <a href="{% url 'ecommerce:catalog' limit=limit page=current_page.number %}" class="btn btn-danger btn-sm ">Reset filters</a>
                </li>
                {% for gen in genres %}
                    <li class="list-group-item bg-dark">
                        <a href="{% url 'ecommerce:catalog_gen' limit=limit page=current_page.number gen=gen.name %}" class="btn btn-warning text-dark btn-sm w-100 badge-product">{{gen.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="results_col" class="col mt-3 mb-4">
            <div class="row">
            {% for product in current_page.object_list %}
            {% with product|get_best_price as best_product %}
                <div class="col-sm-3 pb-3 mt-2">
                    <div class="card rounded border border-light catalog-card-little" style="background-image:url({{product.pic.url}})">
                        <div class="position-absolute top-0 start-0 p-1">
                        {% if best_product.sale > 0 %}
                            <span class="badge rounded-pill btn-product-orange"> {{best_product.sale}} %</span>
                        {% endif %}
                        </div>
                        <div class="position-absolute top-0 end-0 p-1"style="z-index: 3;">
                            <form action="{% url 'customer:add-to-wishlist' %}" method="post">
                            {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{product.id}}">
                                <button class="btn opacity-white material-icons heart" type="submit">favorite</button>
                            </form>
                        </div>
                        <div class="card-content-little" style="z-index: 2;">
                            <h3 class="t-shadow text-light">{{product.name}}</h3>
                            <div>
                                <div class="row pt-3">
                                    <div class="col-12 ">
                                        <h3 class="h6 text-light">Best price</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <h3 class="h4 text-light t-shadow ">{{best_product.sale_price|floatformat:2}} €</h3>
                                    </div>
                                    <div class="col-7">
                                        <a href="{% url 'ecommerce:product' id=product.id %}" class="btn btn-warning">
                                            <span class="h6 text-dark">Learn more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-7 ">
            <nav aria-label="Page navigation example" class="w-100 d-flex justify-content-end">
                <ul class="pagination" class="w-100">

                {% if not_first_page %}
                    {% if selected_genre %}
                        <li class="page-item"><a class="page-link" href="{% url 'ecommerce:catalog_gen' limit=limit page=current_page.previous_page_number gen=selected_genre.name %}">Previous</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{% url 'ecommerce:catalog' limit=limit page=current_page.previous_page_number %}">Previous</a></li>
                    {% endif %}
                {% endif %}

                {% for page in paginator.page_range %}
                    {% if current_page.number == page %}
                        <li class="page-item"><div class="page-link">{{page}}</div></li>
                    {% else %}
                        {% if selected_genre %}
                            <li class="page-item"><a class="page-link" href="{% url 'ecommerce:catalog_gen' limit=limit page=page gen=selected_genre.name %}">{{pag}}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{% url 'ecommerce:catalog' limit=limit page=page %}">{{page}}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if not_last_page %}
                    {% if selected_genre %}
                        <li class="page-item"><a class="page-link" href="{% url 'ecommerce:catalog_gen' limit=limit page=current_page.next_page_number gen=selected_genre.name %}">Next</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{% url 'ecommerce:catalog' limit=limit page=current_page.next_page_number %}">Next</a></li>
                    {% endif %}
                {% endif %}


                </ul>
            </nav>
        </div>

        <div class="col-sm-5">
            <div class="row align-items-center">
                <div class="dropdown">
                    <a class="btn badge-product dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Limit
                    </a>
                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for limit in available_limits %}
                        {% if selected_genre %}
                            <li><a class="dropdown-item" href="{% url 'ecommerce:catalog_gen' limit=limit page=current_page.number gen=selected_genre.name %}">{{ limit }}</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'ecommerce:catalog' limit=limit page=current_page.number %}">{{ limit }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End cards-->
<!--End group cards-->
<!--End catalog-->
{% endblock %}