{% extends "ecommerce/base.html" %}
{% block content %}

<!--Start Product Page-->
<!--    start container-->
    <div class="container">
      <div class="d-flex justify-content-center pt-3 pb-3">

<!--    Start Col-10    -->
        <div class="col-10 row ">

          <div class="row">
            <h2 class="h4 fw-bold brand-text-color title-bar t-shadow text-start text-uppercase">{{product.name}}</h2>
          </div>

          <div class="col-sm-6">
            <div>
              <a class="" href="#">
                    <img class="w-100 border-img" src="https://images4.alphacoders.com/115/thumb-1920-1151249.jpg" alt="">
                    <img class="w-100 border-img" src="product.pic.url" alt="">
              </a>
            </div>

            <a href="review/review?id={{product.id}}">
            <div class="container pt-3 pb-3">
              <div class=" rounded-2 border-product badge-product t-shadow">
                <div class=" ">



                  <div class="row p-2 ">

                <!--Start Number Vote-->
                    <div class="col-4 ">
                      <div class="text-light text-center">
                        <div class="">
                          <h3 class="h6 text-light text-center pt-3">Valutazioni</h3>
                        </div>

                        <div class="row ">
                          <div class="col-6 text-end">
                            <span class="material-icons">
                              thumbs_up_down
                            </span>
                          </div>
                          <div class="col-6">
                            <h3 class="h6 text-light text-start fst-italic">{{review_count}}</h3>
                          </div>
                        </div>
                      </div>
                    </div>
<!--                    End Number Vote-->

                <!--Start Vote-->
                    <div class="col-4 px-4 " >
                      <div class="text-light text-center border border-light circle">
                        <div class="">
                          <h3 class="h6 text-light text-center pt-2 ">Voto</h3>
                          <h3 class="h5 fw-bold text-light text-center ">{{product_rate|round_number:1}}/10</h3>
                        </div>
                      </div>
                    </div>
<!--                End Vote-->

                    <!--recensione-->
                    <div class="col-4 align-self-center">
                      <div class="text-light text-center">
                        <div class="">
                          <h3 class="h6 text-light text-center pt-3">Recensioni</h3>
                        </div>

                        <div class="row">
                          <div class="col-6 text-end">
                            <span class="material-icons">
                              rate_review
                            </span>
                          </div>
                          <div class="col-6">
                            <h3 class="h6 text-light text-start fst-italic">{{review_count}}</h3>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>
            </a>

          </div>

<!--      Start Dectails    -->
          <div class="col-sm-6 pb-3 ">
            <div class="bg-dark rounded border-img">
              {% if keys_count == 0 %}
              {% else %}
              <h3 class="h6 text-light text-center">Miglior Prezzo al momento</h3>
              <div>
                  <h3 class="h6 text-light text-center fst-italic">Venduto da: {{ keys.0.seller}}</h3>
              </div>
              {% endif %}
                
              {% if keys_count == 0 %}
              <h3 class=" text-light text-center fst-italic">Attualmente non disponibile</h3>
              {% else %}
              <h3 class=" text-light text-center">{{ keys.0.price }} €</h3>
              {% endif %}
              <form action="/add-to-cart" method="post">
                  {% csrf_token %}
                  <div class="d-flex justify-content-center">
                    <input type="hidden" name="product_id" value="{{product.id}}">
                    <input type="hidden" name="serial_key" value="{{keys.0}}">
                    <input type="hidden" name="seller_username" value="{{ keys.0.seller}}">
                    {% if keys_count == 0 %}
                    <div class="col-4 rounded-2  bg-secondary align-self-center">
                      <h3 class=" text-light text-center p-2">Out of Stock</h3>
                    </div>
                    {% else %}
                    <button class="col-4 btn btn-product-orange align-self-center" type="submit">
                      <h3 class=" text-light text-center p-2">BUY NOW</h3>
                    </button>
                    {% endif %}
                  </div>
              </form>

              <div class="row p-3">
                <h3 class="col-2 h5 text-light">Tipo:</h3>
                <div class="col-3 h5 text-light badge badge-product text-uppercase">GAMES</div>
                <h3 class="col-3 h5 text-light">Genere:</h3>
                <div class="col-3 h5 text-light badge badge-product text-uppercase">{{product.genre}}</div>
              </div>

              <div class="row p-3">
                <h3 class="col-4 h5 text-light">Sviluppatore:</h3>
                <div class="col-3 h5 text-light badge badge-product">{{product.developer}}</div>
              </div>
              <div class="row p-3">
                <h3 class="col-4 h5 text-light">Distributore:</h3>
                <div class="col-3 h5 text-light badge badge-product">{{product.publisher}}</div>
              </div>

                <a href="{% url 'customer:add-to-wishlist' %}">
                  <form action="/customer/add-to-wishlist" method="post">
                     {% csrf_token %}
                  <div class="row p-3">
                    <div class="col-6 align-self-center">
                      <h3 class="h5 text-light">Aggiungi alla Wishlist</h3>
                    </div>
                    <div class="col-3">
                      <input type="hidden" name="product_id" value="{{product.id}}">
                      <button class="btn badge-product position-sticky" type="submit">
                        <span class="wishlist-heart"><i class="material-icons heart">favorite</i></span>
                      </button>
                    </div>
                  </div>
                  </form>
                </a>

              <a href="review/review?id={{product.id}}">
              <div class="row p-3">
                <div class="col-5 align-self-center">
                    <span class="fst-italic text-light">Visita la pagina delle recensioni </span>
                </div>
                <div class="col-3">
                    <span class="material-icons text-light">
                        storefront
                    </span>
                </div>
              </div>
              </a>

            </div>
          </div>
<!--      End Dectails    -->
  <!--    End Col-10   -->

          <hr class="text-light">

<!--      Start Description   -->
          <div class="row">
            <div class="justify-content-center">
<!--              <h3 class="h4 text-light text-center">Dettagli</h3>-->
              <h3 class="h6 text-light text-center t-shadow ">{{product.description}}</h3>
            </div>
          </div>
<!--      End Description    -->
          <hr class="text-light">

          {% if keys_count == 0 %}
            <div class="row p-5">
            <div class="justify-content-center">
<!--              <h3 class="h4 text-light text-center">Dettagli</h3>-->
              <h3 class="h6 text-light text-center t-shadow ">Non ci sono attualmente chiavi disponibili per questo prodotto</h3>
            </div>
          </div>
          {% else %}
<!--    Start Key List      -->
<!--      Start Title List    -->
          <div class="d-flex justify-content-center pb-3">
            <div class="col-8">
              <h3 class="fw-bold fst-italic text-center text-light">LISTA CHIAVI:</h3>
            </div>
          </div>

<!--      End title list-->
<!--      Start List-->
          <form action="/cart">
           {% csrf_token %}
            {% for key in keys %}
          <div class="d-flex justify-content-center pb-5">
            <div class="bar-color col-8 row rounded-2 border-orange pt-2 pb-2">
<!--          Start img    -->
              <div class="col-sm-2 align-self-center">
                <a class="" href="#">
                  <img class=" circle border-img" src="https://images4.alphacoders.com/115/thumb-1920-1151249.jpg" alt="">
                </a>
              </div>
<!--          End img    -->

<!--          Start Dectails Seller    -->
              <div class="align-self-center col-sm-3">
                <a class="" href="#">
                  <h3 class="h5 brand-text-color text-start title-bar t-shadow">{{key.seller}}</h3>
                </a>
                <div class="h6 fst-italic text-start text-secondary ">chiavi vendute: {{key.seller|get_seller_data}}</div>
                <div class="h6 fst-italic text-start text-secondary ">valutazione: 7.5</div>
              </div>
<!--          End Dectails Seller    -->

<!--          Start Dectails Key     -->
              <div class="align-self-center col-sm-3 px-5">
                <div class="">
                  <h3 class="text-light badge badge-product ">{{product.genre}} </h3>
                </div>
                <div class="">
                  <h3 class="text-light badge badge-product ">Sconto {{key.sale}} %</h3>
                </div>
                <div class="">
                  <h3 class="text-light badge badge-product ">Fine Sconto: {{key.sale_expiry_date}}</h3>
                </div>
              </div>
<!--          End Dectails Key     -->

<!--          Start Price    -->
              <div class="align-self-center col-sm-2">
                  <div class="text-center">
                      <span class="text-center h6 title-bar t-shadow">Prezzo</span>
                      <span class="text-center h5 fw-bold title-bar t-shadow">{{ key.price }}</span>
                  </div>
              </div>
<!--          End Price    -->

<!--          Start Cart Button    -->
              <div class="align-self-center col-sm-2">
                <div class=" ">
                  <input type="hidden" name="product_id" value="{{product.id}}">
                  <input type="hidden" name="keys_id" value="{{keys.id}}">
                  <button class="btn btn-product-orange" type="submit">
                    <h3 class="h6 text-light">Aggiungi al Carrello</h3>
                  </button>
                </div>
              </div>
<!--          End Cart Button    -->

            </div>
          </div>
            {% endfor %}
          </form>
<!--      End List    -->

  <!--    End Key List      -->
          {% endif %}

        </div>

    </div>
<!--    End Container-->
  </div>
<!--End Product Page-->

{% endblock %}