{% extends "ecommerce/base.html" %}

{% block content %}

<div class="container">
    <!--     Start Form   -->
    <form action="{% url 'ecommerce:product-add' %}" method="POST">
    {% csrf_token %}

    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-lg-3 pt-4 pb-4 px-4 rounded" style="background-color: #f8f9fa">
            <div class="text-center">
                <h3 class="h4 fw-bold text-uppercase mb-4 paint-orange">
                    Add Product
                </h3>
            </div>
            <!--Product name field-->
            <div class="input-group mb-3">

                <span class="input-group-text" id="product">
                    <span class="material-icons">shopping_cart</span>
                </span>
              <input type="text" name="name" class="form-control" placeholder="Insert product name" aria-label="Product name" aria-describedby="product">
            </div>
            <!--Publisher name field-->
            <div class="input-group mb-3">
                <span class="input-group-text" >
                    <span class="material-icons">assignment_ind</span>
                </span>
                <input name="publisher" required id="id_publisher" class="form-control" value="" list="datalistOptionsProduct" placeholder="Publisher name">
                    <datalist id="datalistOptionsProduct">
                        {% for publisher in publishers %}
                            <option value="{{publisher.name}}">{{publisher.name}}</option>
                        {% endfor %}
                    </datalist>
            </div>
            <!--Developer name field-->
            <div class="input-group mb-3">
                <span class="input-group-text" >
                    <span class="material-icons">manage_accounts</span>
                </span>
                <input name="developer" required id="id_developer" class="form-control" value="" list="datalistOptionsDeveloper"  placeholder="Developer name">
                    <datalist id="datalistOptionsDeveloper">
                        {% for developer in developers %}
                            <option value="{{developer.name}}">{{developer.name}}</option>
                        {% endfor %}
                    </datalist>
            </div>
            <!--Category field-->
            <div class="input-group mb-3">
                <span class="input-group-text" >
                    <span class="material-icons">grid_view</span>
                </span>
                <input name="category" required id="id_category" class="form-control" value="" list="datalistOptionsCategory" placeholder="Category">
                    <datalist id="datalistOptionsCategory">
                        {% for category in categories %}
                            <option value="{{category.name}}">{{category.name}}</option>
                        {% endfor %}
                    </datalist>
            </div>
            <!--Genre field-->
            <div class="input-group mb-3">
                <span class="input-group-text" >
                    <span class="material-icons">keyboard_arrow_down</span>
                </span>
                <input name="genre" required id="id_genre" class="form-control" value="" list="datalistOptions" id="exampleDataList" placeholder="Genre">
                    <datalist id="datalistOptions">
                        {% for genre in genres %}
                            <option value="{{genre.name}}">{{genre.name}}</option>
                        {% endfor %}
                    </datalist>
            </div>
            <!--Calendar field-->
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <span class="material-icons">calendar_month</span>
                </span>
                <input type="date" class="form-control" name="publishing_date" placeholder="DD/MM/YYYY publishing date" aria-label="Product name" aria-describedby="basic-addon1">
            </div>
            <!--Description field-->
            <div class="input-group">
              <textarea class="form-control" name="description" aria-label="With textarea" placeholder="Insert your description here..."></textarea>
            </div>
            <!--Insert image button-->
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Errore:</strong> Image not valid.
                        </div>
                    {% endif %}
                    <div class="col-md-12">
                        <label for="formFile" class="form-label">Insert your image</label>
                        <input class="form-control" type="file" name="pic" accept="image/*" id="formFile" onchange="preview()">
                        <img id="frame" name="picture" src="" class="img-fluid pt-2" />
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-1">
                            <button onclick="clearImage()" class="btn badge-product">Reset image</button>
                        </div>
                    </div>
                    <script>
                        function preview() {
                            frame.src = URL.createObjectURL(event.target.files[0]);
                        }
                        function clearImage() {
                            document.getElementById('formFile').value = null;
                            frame.src = "";
                        }
                    </script>
                </div>
            </div>
            <!--Close and Add product buttons-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn " style="background-color: rgb(210, 140, 70)">Save and Add product</button>
            </div>
        </div>
    </div>

    </form>
</div>
{% endblock %}