{% extends "ecommerce/base.html" %}
{% block content %}
{% load ecommerce_tags %}
<div class="container">

    <div class="row my-3">
        <div class="col-md-12 px-2">
            <h2 class="fst-italic text-secondary">You searched: {{search}}</h2>
        </div>
    </div>

    {% if products_count == 0 %}
    <div class="row p-5">
        <div class="justify-content-center">
            <h3 class="h3 text-secondary text-start">No relevant resoults</h3>
        </div>
    </div>
    {% else %}

    <div class="row">

    {%for product in products%}
    <div class="col-md-3 pb-3">
            <div class="card w-100 rounded border border-light catalog-card-little" style="background-image:url({{product.pic.url}})">
                <div class="position-absolute top-0 start-0 p-1">
                    {% with product.id|get_best_price as best_product %} 
                        {% if best_product.sale > 0 %}
                            <span class="badge rounded-pill btn-product-orange"> {{ best_product.sale }} %</span>
                        {% endif %}
                </div>
                <div class="card-content-little">
                    <h3 class="t-shadow text-light">{{product.name}}</h3>
                    <div>
                        <div class="row pt-3">
                            <div class="col-12 ">
                                <h3 class="h6 text-light">Best price</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h3 class="h4 text-light t-shadow ">€ {{best_product.sale_price}}</h3>
                            </div>
                    {% endwith %}
                            <div class="col-6">
                                <a href="{% url 'ecommerce:product' id=product.id %}" class="btn catalog-button">
                                    <span class="h6 text-light">Learn more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-absolute top-0 end-0 p-1">
                    <form action="{% url 'customer:add-to-wishlist' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{product.id}}">
                        <button class="btn opacity-white material-icons heart" type="submit">favorite</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}

    </div>
</div>
{% endblock %}