{% extends "ecommerce/base.html" %}
{% block content %}
<div class="container">

    <div class="row my-3">
        <div class="col-md-12 px-2">
            <h2 class="fst-italic text-secondary">Hai cercato: {{search}}</h2>
        </div>
    </div>

    {% if products_count == 0 %}
    <div class="row p-5">
        <div class="justify-content-center">
            <h3 class="h3 text-secondary text-start">La ricerca non ha prodotto risultati</h3>
        </div>
    </div>
  {% endif %}

    <div class="row">

    {%for product in products%}
    <div class="col-md-3 pb-3">
            <div class="card w-100 rounded border border-light catalog-card-little" style="background-image:url({{product.pic.url}})">
                <div class="position-absolute top-0 start-0 p-1">
                    {% if product.id|get_best_sale > 0 %}
                    <span class="badge rounded-pill btn-product-orange"> {{ product.id|get_best_sale }}  %</span>
                    {% endif %}
                </div>
                <div class="card-content-little">
                        <h3 class="t-shadow text-light">{{product.name}}</h3>
                    <div>
                        <div class="row pt-3">
                            <div class="col-12 ">
                                <h3 class="h6 text-light">Miglior prezzo</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h3 class="h4 text-light t-shadow ">{{product.id|get_best_price}}</h3>
                            </div>
                            <div class="col-6">
                                <a href="/product?id={{product.id}}" class="btn catalog-button">
                                    <span class="h6 text-light">Learn more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-absolute top-0 end-0 p-1">
                    <span class=""><i class="btn opacity-white material-icons heart">favorite</i></span>
                </div>
            </div>
        </div>
{%endfor%}

    </div>
</div>
{% endblock %}